# ======================
# CMake build folders
# ======================
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
CMakeScripts/

# ======================
# Generated binaries
# ======================
*.o
*.obj
*.so
*.a
*.exe
*.out
*.app

# ======================
# vcpkg local stuff
# ======================
vcpkg_installed/
vcpkg/buildtrees/
vcpkg/packages/
vcpkg/downloads/

# ======================
# OS junk (Linux/Unix)
# ======================
*~
*.swp
.DS_Store
Application